{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'playground/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS196-Group50</title>
</head>

<body>

  <nav>
      <div class="nav-left">
        <img src="{% static 'playground/images/logo.png' %}" class="logo">
        <ul>
          <li><img src="{% static 'playground/images/notification.png' %}"></li>
          <li><img src="{% static 'playground/images/inbox.png' %}"></li>
          <li><img src="{% static 'playground/images/video.png' %}"></li>
        </ul>
      </div>
      <div class="nav-right">

        <div class="search-box">
          <img src="{% static 'playground/images/search.png' %}">
          <input type="text" placeholder="Search">
        </div>

        <div class="nav-user-icon online" onclick="settingsMenuToggle()">
          <img src="{% static 'playground/images/profile-pic.png' %}">
        </div>


      </div>

      <!-----------------------settings menu------------------------>
      <div class="settings-menu">

        <div id="dark-btn">
          <span></span>
        </div>

        <div class="settings-menu-inner">
          <div class="user-profile">
            <img src="{% static 'playground/images/profile-pic.png' %}">
            <div>
              <p>Name</p>
              <a href="#">See your profile</a>
            </div>
          </div>
          <hr>
          <div class="user-profile">
            <img src="{% static 'playground/images/Feedback.png' %}">
            <div>
              <p>Give Feedback</p>
              <a href="#">Help us improve the website!</a>
            </div>
          </div>
          <hr>

          <div class="settings-links">
            <img src="{% static 'playground/images/setting.png' %}" class="settings-icon">
            <a href="#">Settings <img src="{% static 'playground/images/arrow.png' %}" width="10px"></a>
          </div>
          <div class="settings-links">
            <img src="{% static 'playground/images/help.png' %}" class="settings-icon">
            <a href="#">Help <img src="{% static 'playground/images/arrow.png' %}" width="10px"></a>
          </div>
          <div class="settings-links">
            <img src="{% static 'playground/images/display.png' %}" class="settings-icon">
            <a href="#">Display <img src="{% static 'playground/images/arrow.png' %}" width="10px"></a>
          </div>
          <div class="settings-links">
            <img src="{% static 'playground/images/logout.png' %}" class="settings-icon">
            <a href="#">Logout <img src="{% static 'playground/images/arrow.png' %}" width="10px"></a>
          </div>

        </div>
        
      </div>

  </nav>

  <div class="container">

    <!-----------------------left sidebar------------------------>

    <div class="left-sidebar">
      <div class="imp-links">
        <a href="#"><img src="{% static 'playground/images/news.png' %}"> Feed</a>
        <a href="#"><img src="{% static 'playground/images/friends.png' %}"> Friends</a>
        <a href="#"><img src="{% static 'playground/images/group.png' %}"> Group</a>
        <a href="#"><img src="{% static 'playground/images/marketplace.png' %}"> Marketplace</a>
        <a href="#"><img src="{% static 'playground/images/watch.png' %}"> Watch</a>
        <a href="#">See More</a>
      </div>
      <div class="shortcut-links">
        <p>Your Shortcuts</p>
        <a href="#"><img src="{% static 'playground/images/shortcut-1.png' %}"> Shortcut1</a>
        <a href="#"><img src="{% static 'playground/images/shortcut-2.png' %}"> Shortcut2</a>
        <a href="#"><img src="{% static 'playground/images/shortcut-3.png' %}"> Shortcut3</a>
        <a href="#"><img src="{% static 'playground/images/shortcut-4.png' %}"> Shortcut4</a>
      </div>
    </div>

    <!-----------------------main content------------------------>

    <div class="main-content">

      <div class="story-gallery">
        <div class="story story1">
          <img src="{% static 'playground/images/upload.png' %}">
          <p>Post Story</p>
        </div>
        <div class="story story2">
          <img src="{% static 'playground/images/member-1.png' %}">
          <p>Member 1</p>
        </div>
        <div class="story story3">
          <img src="{% static 'playground/images/member-2.png' %}">
          <p>Member 2</p>
        </div>
        <div class="story story4">
          <img src="{% static 'playground/images/member-3.png' %}">
          <p>Member 3</p>
        </div>
        <div class="story story5">
          <img src="{% static 'playground/images/member-4.png' %}">
          <p>Member 4</p>
        </div>
      </div>

      <div class="write-post-container">
        <div class="user-profile">
          <img src="{% static 'playground/images/profile-pic.png' %}">
          <div>
            <p>Name</p>
            <small>Public</small>
          </div>
        </div>

        <div class="post-input-container">
          <textarea rows="3" placeholder="How's it going?"></textarea>
          <div class="add-post-links">
            <a href="#"><img src="{% static 'playground/images/live-video.png' %}"> Live Video</a>
            <a href="#"><img src="{% static 'playground/images/photo.png' %}"> Photo/Video</a>
            <a href="#"><img src="{% static 'playground/images/feeling.png' %}"> Activity</a>
          </div>
        </div>
      </div>

    <div class="post-container">
      <div class="user-profile">
        <img src="{% static 'playground/images/profile-pic.png' %}">
        <div>
          <p>User 1</p>
          <span>January 1, 12:00 AM</span>
        </div>
      </div>
      <p class="post-text">Lorem ipsum <span>@Yash</span> dolor sit amet, consectetur adipiscing 
      elit.<a href="#">#Website</a> <a href="#">#Food</a></p>
      <img src="{% static 'playground/images/feed-image-1.png' %}" class="post-img">

        <div class="post-row">
          <div class="activity-icons">
            <div><img src="{% static 'playground/images/like-blue.png' %}"> 120</div>
            <div><img src="{% static 'playground/images/comments.png' %}"> 45</div>
            <div><img src="{% static 'playground/images/share' %}"> 20</div>
          </div>
          <div class="post-profile-icon">
            <img src="{% static 'playground/images/profile-pic.png' %}">
          </div>
        </div>

    </div>  

    <div class="post-container">
      <div class="user-profile">
        <img src="{% static 'playground/images/member-1.png' %}">
        <div>
          <p>User 2</p>
          <span>October 31, 5:55 PM</span>
        </div>
      </div>
      <p class="post-text">Lorem ipsum <span>@Bryant</span> dolor sit amet, consectetur adipiscing 
      elit.<a href="#">#Post</a> <a href="#">#Food</a></p>
      <img src="{% static 'playground/images/feed-image-2.png' %}" class="post-img">

        <div class="post-row">
          <div class="activity-icons">
            <div><img src="{% static 'playground/images/like.png' %}"> 86</div>
            <div><img src="{% static 'playground/images/comments.png' %}"> 13</div>
            <div><img src="{% static 'playground/images/share' %}"> 7</div>
          </div>
          <div class="post-profile-icon">
            <img src="{% static 'playground/images/member-1.png' %}">
          </div>
        </div>

    </div>
      
    <button type="button" class="load-more-btn">Load More</button>


    </div>

    <!-----------------------right sidebar------------------------>

    <div class="right-sidebar">

      <div class="sidebar-title">
        <h4>Events</h4>
        <a href="#">See All</a>
      </div>

      <div class="event">
        <div class="left-event">
          <h3>23</h3>
          <span>October</span>
        </div>
        <div class="right-event">
          <h4>Social Media</h4>
          <p>CIF</p>
          <a href="#">More Info</a>
        </div>
      </div>

      <div class="event">
        <div class="left-event">
          <h3>31</h3>
          <span>October</span>
        </div>
        <div class="right-event">
          <h4>Halloween</h4>
          <p>Everywhere!</p>
          <a href="#">More Info</a>
        </div>
      </div>
      
      <div class="sidebar-title">
        <h4>Advertisements</h4>
        <a href="#">Close</a>
      </div>
      <img src="{% static 'playground/images/advertisement.png' %}" class="sidebar-ads">

      <div class="sidebar-title">
        <h4>Messages</h4>
        <a href="#">Hide</a>
      </div>

      <div class="online-list">
        <div class="online">
          <img src="{% static 'playground/images/member-1.png' %}">
        </div>
        <p>Member 1</p>
      </div>

      <div class="online-list">
        <div class="online">
          <img src="{% static 'playground/images/member-2.png' %}">
        </div>
        <p>Member 2</p>
      </div>

      <div class="online-list">
        <div class="online">
          <img src="{% static 'playground/images/member-3.png' %}">
        </div>
        <p>Member 3</p>
      </div>

    </div>
  </div>

<div class="footer">
  <p>CS 196 Group 50</p>
</div>

<script src="{% static 'playground/app.js' %}"> </script>

</body>
</html>